@media screen and (max-width: 767px){
     .navbar{
        display: block;
        text-align: center;
     }
     .navItem{
          gap: 15px;
          margin-top: 20px;
          justify-content: center;
     }
    .banner-titile{
        font-size: 30px;
    }
    .gallary-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallary-text h1{
        font-size: 25px;
    }
    .core-features{
     grid-template-columns: repeat(1, 1fr);
    }
    .core-features-mainContent h1{
        font-size: 25px;
    }
    .banner-div{
        left: 0px;
    }
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .title-somefacts{
        font-size: 25px;
    }
    .sponspors-content h1{
        font-size: 25px;
    }
    .sponsors-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .sponsors-img div img{
        width: 50%;
    }
}