@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.primaryColor {
  color: #ff900e;
}
.primaryBg {
  background-color: #ff900e;
}
img {
  width: 100%;
}
.container {
  padding: 20px;
}
header {
  background: rgba(255, 144, 14, 0.1);
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.navItem {
  display: flex;
  gap: 40px;
}
.navItem li {
  list-style: none;
  cursor: pointer;
}
.banner-description {
  text-align: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 28px;
  gap: 20px;
}
.banner-titile {
  text-align: center;
   font-size: 45px;
   font-weight: 700;
}
.banner-content button {
  padding: 15px 54px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
}

/* gallary and content  */
.gallary-content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.gallary-content div{
    /* width: 50%; */
    padding: 20px;
}
.gallary-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.gallary-content img{
    width: 100%;
    
}
.gallary-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
}
.gallary-text h1{
    color: #727272;
 font-size: 45px;
 font-weight: 500;
 }
 .span2{
   color: #131313;
 }
 .span3{
    color: #FF900E;
 font-weight: 700;
line-height: normal;
 }
 .gallary-text button{
    padding: 15px 54px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
 }